body {
  position: relative;
  width: 1440px;
  height: 1000px;


  min-height: 100vh;

  background: linear-gradient(180deg, #005AC4 0%, rgba(0, 255, 25, 0.28) 100%);
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  min-width: 720px;
}

.logo {
  /* LOGO */

  position: absolute;
  width: 295px;
  height: 75px;
  left: 200px;
  top: 17px;


}

.buttonadd {
  left: 200px;
  top: 107px;
}

.buttonedit {
  position: absolute;
  width: 130px;
  height: 39px;
  left: 350px;
  top: 107px;
}

.buttondelete {
  position: absolute;
  width: 130px;
  height: 39px;
  left: 500px;
  top: 107px;

}

.buttonrandom {
  position: absolute;
  width: 130px;
  height: 39px;
  left: 650px;
  top: 107px;

}

button {
  /* addButton */


  /* Добавить */

  /* Description */
  font-family: Graphik LCG;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  align-items: center;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

}

.greenbutton {
  position: absolute;
  width: 130px;
  height: 39px;
  background: #32A87D;

}

.redbutton {
  background: #AB4C4C;


}

table {
  padding: 0px;
  position: absolute;
  width: 1040px;
  height: 672px;
  left: 200px;
  top: 158px;
  background: #FFFFFF;
  border-radius: 8px;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 6px;
  height: 0px
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #979797;
  box-shadow: 0px 1px 1px #fff inset;
  background-image: url('https://yraaa.ru/_pu/24/59610063.png');
  background-position: center;
  background-repeat: no-repeat;

}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 7px;
  height: 0px
}

::-webkit-scrollbar {
  width: 11px;
}

thead {
  position: absolute;
  width: 1040px;
  height: 48px;
  left: 0px;
  top: 0px;
}

tr {
  /* TableHeaderBox */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  position: absolute;
  width: 1040px;
  height: 48px;




  background: #e9e9e9;
  border-radius: 8px;

}

.thunder {
  /* HeaderUnderline */
  position: absolute;
  width: 1040px;
  height: 1px;
  left: 0px;
  top: 47px;

  /* Borders */
  background: #C5D0DB;

}

tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1040px;
  height: 615px;
  left: 0px;
  top: 48px;
  overflow-y: scroll;
  overflow-x: hidden;

}

.tableitem:nth-child(odd) {

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;

  position: static;
  width: 1040px;
  height: 104px;
  left: 0px;
  top: 0px;

  /* White */
  background: #ffffff;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;


}

.tableitem:nth-child(even) {

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;

  position: static;
  width: 1040px;
  height: 104px;
  left: 0px;
  top: 0px;

  /* White */
  background: #f1f1f165;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;


}

footer {
  position: absolute;
  width: 1040px;
  height: 24px;
  left: 245px;
  top: 842px;
}

.copyrights {
  /* copyright */

  position: absolute;
  width: 362px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Description */
  font-family: Graphik LCG;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  display: flex;
  align-items: center;

  /* Gray 1 */
  color: #333333;


}

.tableitem:hover {
  background: #32a87d2d;
}

.author {
  /* Тестовое задание сделал Брылев Е.В. */

  position: absolute;
  width: 254px;
  height: 24px;
  left: 786px;
  top: 0px;

  /* Description */
  font-family: Graphik LCG;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  display: flex;
  align-items: center;

  color: #000000;


}

.modalcustom {
  /* Modalbody */

  position: absolute;
  width: 277px;
  height: 870px;
  left: 43%;
  top: 15px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

}

.modalheader {
  /* nameModal */

  position: absolute;
  height: 53.93095397949219px;
  width: 277px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;


  background: #0A69BB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;
  /* Добавить запись */



  /* Description */
  font-family: Graphik LCG;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  padding-top: 15px;

  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modalcontent {
  /* modalcontent */
  position: absolute;
  border-radius: 8px;
  height: 712px;
  width: 277px;
  left: 0px;
  top: 54px;
  border-radius: 8px;


}

.addbutton {

  position: absolute;

  height: 39px;
  width: 130px;
  left: 0px;
  top: 798px;
  border-radius: 8px;

  font-family: Graphik LCG;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;


  background: #32A87D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

}

mark {
  padding: 0px;
  background-color: none;
  color: red;
  background: #ffffff;
}

.closebutton {
  /* cancelButton */

  position: absolute;

  height: 39px;
  width: 130px;
  left: 147px;
  top: 798px;

  border-radius: 8px;
  font-family: Graphik LCG;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  background: #AB4C4C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

}

.inputtext {
  /* nameInput */
  display: flex;
  flex-direction: column;
  width: 254px;


  left: 0px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 4px;
  border-radius: 4px;

}

th {
  width: 94.5px;

  left: 4px;
  top: 35px;
  vertical-align: middle;

  word-wrap: break-word;
  font-family: Graphik LCG;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;


}

td {
  width: 94.5px;

  left: 4px;
  top: 35px;
  vertical-align: middle;

  word-wrap: break-word;
  font-family: Graphik LCG;
  font-size: 13px;
  font-style: normal;

  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;



}

nav.react-contextmenu {
  position: fixed;
  width: 200px;
  left: 0;
  top: calc(100% + 10px);
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.react-contextmenu .react-contextmenu-item:hover {
  background: #cccccc;
}

.react-contextmenu-item:hover:not(.react-contextmenu-item--disabled) {
  background-color: #f1f1f1;
}

.react-contextmenu .react-contextmenu-item {
  font-size: 14px;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  transition: .2s;
  position: relative;
  margin-bottom: 2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
}